:root {
    --body-bg-color: #f1faee;
    --body-txt-color: #1d3557;
    --header-bg-color: #1d3557;
    --header-txt-color: #f1faee;
    --footer-bg-color: #457b9d;
    --footer-txt-color: #f1faee;
    --main-bg-color: #a8dadc;
    --border-color: #e63946;
}