:root {
    --body-bg-color: #6c757d;
    --body-txt-color: #dee2e6;
    --header-bg-color: #212529;
    --header-txt-color: #f1faee;
    --footer-bg-color: #343a40;
    --footer-txt-color: #f1faee;
    --main-bg-color: #495057;
    --border-color: #e63946;
}