.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

h3 {
    color: var(--border-color);
}

.signup-form {
    width: 300px;
    height: 380px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
}

.signup-form p {
    margin-bottom: 5px;
}